<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>This portfolio was made to demonstrate my enthusiasm and skills in R, Python, SQL, Tableau, PowerBI, and in other tools related to Data Science.  I am an aspiring Data Analyst seeking 
          opportunities to help businesses improve their data driven descision making! </p>
      </div>
      <div class="col-lg-4">
        <p>Thank you for visiting my portfolio website! I appreciate you taking the time to explore my work. Feel free to reach out if you have any questions or would like to connect further. 
         The button below is a link to the GitHub Repo that stores all the relevant data sets and notebooks for this portfolio. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/AndrewSchwarz145/Schwarz_Portfolio" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> GitHub Repo
        </a>
      </div>
    </div>
  </div>
</section>
